.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}
hr{
    width: 100vw;
}
.bigicon {
    font-size: 35px;
    color: #BF4B67;
}
.errorEmail{
    border-color: red;
}
.errorEmailMsg{
    color:red;
}
.errorEdad{
    color:red;
}
.errorInEdad{
    border-color:red;
}
.boton {
    background-color: #BF4B67;
}
.form-group {
    margin-left: 10vw;
}